@charset "UTF-8";
.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-family: "Bebas Neue", cursive;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.4;
}

.link-btn {
  padding: 10px 15px;
  font-size: 14px;
  color: #ffffff;
  background-color: #e8663c;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-in;
}
.link-btn:hover {
  opacity: 0.7;
}

.decoration-left, .decoration-right {
  width: 15%;
  background-color: #e8663c;
  opacity: 0.6;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title-name {
  color: #e8663c;
}

.header-title-line {
  background: url(/img/header-lines.png);
  height: 19px;
}

.posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.posts-item {
  text-decoration: none;
}
.posts-item:hover > img {
  opacity: 0.7;
  transition: 0.2s ease-in;
}

.posts-description {
  padding: 15px 0 15px 15px;
  border: 1px solid #b9b9b9;
  border-top: none;
}

.posts-date {
  font-family: "Bebas Neue", cursive;
  font-size: 14px;
  color: #e8663c;
}

.header__wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Bebas Neue", cursive;
  font-size: 36px;
  color: #e8663c;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s ease-in;
}

.header__span {
  color: #f3af9d;
}

.header__nav {
  display: flex;
}

.header__item {
  margin-right: 25px;
}
.header__item:last-child {
  margin-right: 0px;
}

.header__link {
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  color: #b9b9b9;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s ease-in;
}
.header__link:hover {
  color: #e8663c;
}

.welcome {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.welcome-slider {
  position: relative;
  margin: 0 10px;
  min-width: 0;
}

.welcome-slider__wrapper {
  max-width: 970px;
}

.welcome__img {
  width: 970px;
}

.welcome-slider__description {
  position: absolute;
  bottom: 30%;
  margin-left: 1%;
  max-width: 390px;
  background-color: rgba(232, 102, 60, 0.6);
  padding: 20px 0px 25px 20px;
}

.welcome-slider__title {
  margin-bottom: 15px;
}

.welcome-slider__text {
  line-height: 16px;
}

.decoration-left__welcome, .decoration-right__welcome {
  height: 60px;
}

.welcome-slider__wrapper > .slick-arrow {
  position: absolute;
  z-index: 1;
  top: 30%;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in;
  font-size: 0;
  width: 36px;
  height: 52px;
  background-repeat: no-repeat;
}
.welcome-slider__wrapper > .slick-arrow:hover {
  opacity: 0.7;
}

.slick-arrow.slick-prev {
  left: 2%;
  background: url(/img/previous.png) no-repeat 100%;
}

.slick-arrow.slick-next {
  right: 2%;
  background: url(/img/next.png) no-repeat 100%;
}

.welcome-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

.welcome-thumbnails__item {
  max-width: 140px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.welcome-thumbnails__item:hover {
  opacity: 0.7;
}
.welcome-thumbnails__item:last-child {
  margin-right: 0;
}

.features__block {
  display: flex;
  justify-content: space-between;
  row-gap: 50px;
  column-gap: 25px;
  flex-wrap: wrap;
}

.feature {
  max-width: 275px;
}

.feature__header {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.feature__img {
  margin-right: 22px;
}

.feature__title {
  color: #e8663c;
  max-width: 165px;
  line-height: 1.2;
}

.feature__text {
  color: #414141;
  margin-bottom: 30px;
}

.works {
  margin: 50px 0;
}

.header-title__works {
  margin-bottom: 25px;
}

.header-title-name__works {
  margin-right: 20px;
}

.header-title-line__works {
  width: 88%;
}

.posts-title__works {
  font-size: 18px;
  color: #b9b9b9;
}

.footer {
  display: flex;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 35px 40px;
  background-color: #e8663c;
  width: 900px;
  margin: 0 auto;
}

.footer-about {
  max-width: 260px;
}

.footer-about__title, .footer-widget__title, .footer-contact__title {
  font-size: 24px;
  margin-bottom: 30px;
}

.footer-about__text, .footer-contact__text {
  margin-bottom: 20px;
  line-height: 1.2;
}
.footer-about__text:last-child, .footer-contact__text:last-child {
  margin-bottom: 0;
}

.footer-widget {
  max-width: 220px;
}

.footer-widget__tweet {
  margin-bottom: 20px;
}

.footer-widget__nickname {
  color: #b9b9b9;
  text-decoration: none;
}
.footer-widget__nickname:hover {
  text-decoration: underline;
}

.footer-widget__time {
  display: block;
  color: #b9b9b9;
  margin-top: 5px;
}

.footer-contact__email, .footer-contact__phone {
  display: block;
}

.footer-contact {
  max-width: 250px;
}

.footer-contact__socials {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-contact__img {
  margin-right: 5px;
}
.footer-contact__img:last-child {
  margin-right: 0;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */