@import "components";
@import "header";
@import "welcome";
@import "footer";
.blog{
    display: flex;
    margin-top: 25px;
}
.blog__wrapper{
    max-width: 100%;
    margin-right: 0px;
}

.blog-post__img{
    display: block;
    margin: 0 auto;
}
.blog-post__wrapper,.blog-post--first{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-top: 25px;
}
.blog-post-info{
    display: flex;
    column-gap: 40px;
    margin-top: 40px;
}
.blog-post-info__item{
    margin-bottom: 15px;

    &:last-child{
        margin-bottom: 0;
    }
}
.blog-post-info__title{
    margin-bottom: 5px;
    color: $orange;
}
.blog-post-info__text{
    color: #bababa;
}
.blog-post-description{
    max-width: 500px;
}
.blog-post-description__title{
    font-size: 24px;
    color: $orange;
}
.blog-post-description__text{
    margin-top: 20px;
    color: $textColor;
}
.blog-post__video{
    display: flex;
    justify-content: center;
}
.blog-line--decoration {
    width: 100%;
    background: url(/img/header-lines.png);
    height: 15px;
    margin: 25px 0;
}
.blog-quote{
    display: flex;
    padding: 20px 30px 20px 35px;
    background-color: rgb( 245, 245, 245 );
}
.blog-quote__bracket{
    display: block;
    margin-right: 10px;
    font-size: 72px;
    line-height: 0.7;
    color: $orange;
}
.blog-quote__text{
    color: #474747;
    font-style: italic;
}
.blog-post__trailer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.blog-post__site{
    color: #a0a0a0;
}
.blog-pagination{
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    column-gap: 15px;
}
.blog-pagination__btn{
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}
@media (min-width: 576px) {
    .welcome-slider__blog{
        display: block;
    }
}

@media (min-width: 672px) {
    .blog-post-info{
        display: block;
        max-width: 105px;
        margin-right: 50px;
        margin-top: 0px;
    }
}
@media (min-width: 768px) {
    .welcome-slider__blog{
        display: flex;
        justify-content: center;
    }
    .blog-line--decoration {
        margin: 50px 0;
    }
}
@media (min-width: 992px) {
    .blog__wrapper{
        margin-right: 45px;
    }
    .blog-posst--first{
        justify-content: flex-start;
    }
    .blog-post__wrapper{
        justify-content: flex-start;
    }
    .blog-post__img{
        display: block;
        margin: auto;
    }
    .welcome-slider__blog{
        display: block;
    }
    .blog-slider__wrapper>.slick-arrow{
        display: block;
    }
    .blog-post__trailer{
        display: block;
    }
    .blog-pagination{
        display: block;
    }
}