.works {
    margin: 50px 0;
}
.header-title__works{
    margin-bottom: 25px;
}
.header-title-name__works{
    margin-right: 20px;
}
.header-title-line__works{
    width: 88%;
}
.posts-title__works{
    font-size: 18px;
    color: $gray;
}
